<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OneKeyTools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <OneKeyTools.Properties.Settings>
            <setting name="gwidth" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="gheight" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="opacity" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="picpath" serializeAs="String">
                <value>no</value>
            </setting>
            <setting name="color" serializeAs="String">
                <value>240, 240, 240</value>
            </setting>
            <setting name="pwidth" serializeAs="String">
                <value>720</value>
            </setting>
            <setting name="notesplit" serializeAs="String">
                <value>=</value>
            </setting>
            <setting name="splittext" serializeAs="String">
                <value>=</value>
            </setting>
            <setting name="g1" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="g2" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="g3" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="g4" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="g5" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="g6" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="morph" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="dpi" serializeAs="String">
                <value>96</value>
            </setting>
            <setting name="jsqsz" serializeAs="String">
                <value>时间到</value>
            </setting>
            <setting name="jsqfont" serializeAs="String">
                <value>微软雅黑, 14.25pt, style=Bold</value>
            </setting>
            <setting name="jsqbgcolor" serializeAs="String">
                <value>224, 67, 67</value>
            </setting>
            <setting name="jsqfontcolor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="jsqofont" serializeAs="String">
                <value>微软雅黑, 14.25pt, style=Bold</value>
            </setting>
            <setting name="jsqcan" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GalleryRefresh" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GalleryPath" serializeAs="String">
                <value />
            </setting>
            <setting name="g7" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Galleryfolder" serializeAs="String">
                <value />
            </setting>
            <setting name="PicMix" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Replace" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="tab2" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="tab1" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="table_addr" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="table_addc" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="twidth" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="theight" serializeAs="String">
                <value>52</value>
            </setting>
            <setting name="jsqtime" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="ChartPath" serializeAs="String">
                <value />
            </setting>
            <setting name="TimeSound" serializeAs="String">
                <value />
            </setting>
            <setting name="CommandSound" serializeAs="String">
                <value>True</value>
            </setting>
        </OneKeyTools.Properties.Settings>
    </userSettings>
</configuration>